# Compiled class file
*.class

# Log file
*.log

#Compiled classes and random artifacts
target/classes
target/test-classes
target/original-*.jar
target/*-shaded.jar

#Random storage and junk folder
misc/

#Eclipse files
.classpath
.project
.settings/*

#Netbeans Files
nbproject/*

#Mac system files
.DS_STORE
