# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*

#Compiled classes and random artifacts
target/classes
target/test-classes
target/original-*.jar
target/*-shaded.jar

#Random storage and junk folder
misc/

#Eclipse files
.classpath
.project
.settings/*

#Netbeans Files
nbproject/*

#C++ Files
build/*
dist/*

#Mac system files
.DS_STORE
